$theme: #39bc97;

/* 布局 */
$sidebar-width: 210px;
$sidebar-background: #195e56;

$navbar-height: 30px;
$navbar-padding: 20px;
$header-height: 86px;
$reuse-tab-height: 40px;

$navbar-background: #bfd9d1;
$app-main-background: #f7faf9;
$header-background: #f0faf7;
$right-side-font-color: #666666;
$reuse-tab-item-background: #ffffff;

$title-color: #456b65;
$parent-title-color: #39bd97;
$table-border-color: #dfe2e6;

/* 菜单 */
$menu-item-hover: #0a484a;
$menu-item-bg: #114f48;
$sub-menu-title: #c2d1cd;
$menu-item-height: 50px;
